Repository sophie-app/sophie, pull requests merged in 2024-11, with the labels that each got.

#16 ODPTのAPIClientを追加
  apps/backend/src/constants/odpt.ts
  apps/backend/src/factory.ts
  apps/backend/src/lib/odptApiPath.ts
  apps/backend/src/middlewares/odptClient.ts
Labels: feature, backend

#17 Fix/odpt middleware env
  apps/backend/.dev.vars.example
  apps/backend/src/factory.ts
  apps/backend/src/middlewares/odptClient.ts
Labels: bug, backend

#19 Submoduleを考慮したreadme
  README.md
Labels: docs

#21 Fix/odpt
  apps/backend/src/constants/odpt.ts
  apps/backend/src/lib/odptApiPath.ts
  apps/backend/src/middlewares/odptClient.ts
Labels: bug, backend

#18 Feat/current location nearest station #13
  apps/backend/src/factory.ts
  apps/backend/src/index.ts
  apps/backend/src/lib/odptApiPath.ts
  apps/backend/src/routes/nearestStation.ts
  apps/backend/src/types/location.ts
  apps/backend/src/usecases/stationUseCase.ts
  apps/backend/src/utils/calculateSphericalDistance.ts
  apps/frontend/src/hooks/useCurrentLocation.ts
Labels: feature, backend

#22 デプロイワークフローのミスを修正
  .github/workflows/deploy.yml
  pnpm-lock.yaml
Labels: chore
